{{!-- {{#if user.userName}} --}}
  <h1>{{title}}</h1>

  <h4>JWT: 
    <p>{{token}}</p>
  </h4>

  <button>
    <a href="/logout">Logout</a>
  </button>
{{!-- {{/if}}

<h1>Unauthorized to view page. Please log in.</h1> --}}